
###> symfony/framework-bundle ###
/.env
/.env.test
/.env.local
/.env.local.php
/.env.*.local
/config/secrets/prod/prod.decrypt.private.php
/public/bundles/*
/var/*
/vendor/*
###< symfony/framework-bundle ###

###> phpunit/phpunit ###
/phpunit.xml
.phpunit.result.cache
###< phpunit/phpunit ###

/tmp
/app/config/parameters.yml
/build/
!/var/cache
/var/cache/*
!var/cache/.gitkeep
!/var/logs
/var/logs/*
!var/logs/.gitkeep
!/var/sessions
/var/sessions/*
!var/sessions/.gitkeep
!var/SymfonyRequirements.php
/web/bundles/
*.sublime-workspace
Makefile.Debug
Makefile.Release
Makefile
QtClient/build-*
TODO.md
*.pro.user
QtClient/data/
app/data/uploads/
!app/data/uploads/.gitkeep
sparse_test.php
INFO.md